controllers:
    resource: ../src/Controller/
    type: annotation

kernel:
    resource: ../src/Kernel.php
    type: annotation

api_login_check:
    path: /api/login_check
    methods: ['POST']

api_refresh_token:
    path: /api/token_refresh
    methods: ['POST']
